body {
    padding-top: 50px;
    -webkit-animation: .2s colorFlash infinite linear;
            animation: .2s colorFlash infinite linear;
}
article {
    text-align: center;
    color: red;
}
@keyframes colorFlash {
    0% {
        -webkit-filter: hue-rotate(0) saturate(2);
                filter: hue-rotate(0) saturate(2);
    }
    100% {
        -webkit-filter: hue-rotate(360deg) saturate(2);
                filter: hue-rotate(360deg) saturate(2);
    }
}
@-webkit-keyframes colorFlash {
    0% {
        -webkit-filter: hue-rotate(0) saturate(2);
                filter: hue-rotate(0) saturate(2);
    }
    100% {
        -webkit-filter: hue-rotate(360deg) saturate(2);
                filter: hue-rotate(360deg) saturate(2);
    }
}
