.menu-bar, .menu-bar:before, .menu-bar:after {
    background: black;
}
h1 {
    position: fixed;
    right: -5%;
    top: 30%;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    font-size: 5em;
    text-align: center;
}
section {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
section h3 {
    margin: 0;
}
section:after {
    content: '';
    display: block;
    width: 1px;
    height: 200px;
    background: #bbb;
    margin: 20px auto;
}
.parallaxWindow {
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    border-radius: 100%;
    width: 450px;
    height: 450px;
    -webkit-shape-outside: circle();
    shape-outside: circle();
}
section:nth-child(odd) .parallaxWindow {
    float: left;
    margin-right: 2em;
}
section:nth-child(even) .parallaxWindow {
    float: right;
    margin-left: 2em;
}
section:nth-child(even) {
    text-align: right;
}
p {
    width: 100%;
}
section:first-of-type .parallaxWindow {
    background-image: url(../images/bgs/suit.png);
    background-attachment: scroll;
}
section:nth-of-type(2) .parallaxWindow {
    background-image: url(../images/bgs/Camera.jpg);
}
section:nth-of-type(3) .parallaxWindow {
    background-image: url(../images/JobsCrop.png);
    background-size: 40%;
    background-position: 26%;
}
article {
    padding-top: 5%;
}
article > h3 {
    text-align: center;
}
@media (max-width: 1000px) {
    h1 {
        position: static;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        margin-top: 50px;
        white-space: normal;
    }
    .parallaxWindow {
        display: none;
    }
    section:after {
        height: 100px;
        margin: 10px auto;
    }
    section {
        width: 100%;
    }
    section h3 {
        text-align: center;
        margin-bottom: .3em;
    }
    p {
        text-align: justify;
        margin: 0 auto;
        width: 90%;
    }
}
