.menuBar, .menuBar:before, .menuBar:after {
    background: #666;
}
h1 {
    margin: 0;
    text-align: center;
    font-size: 5em;
    white-space: nowrap;
}
h3 {
    margin: 0;
}
section {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
section:after, h1:after {
    content: "";
    display: block;
    width: 1px;
    height: 200px;
    background: #bbb;
    margin: auto;
}
h1:after {
    height: 50px;
}
.parallaxWindow {
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    border-radius: 100%;
    width: 400px;
    height: 400px;
    -webkit-shape-outside: circle();
    shape-outside: circle();
}
.left .parallaxWindow {
    float: left;
    margin-right: 32px;
    margin-right: 2rem;
}
.right .parallaxWindow {
    float: right;
    margin-left: 32px;
    margin-left: 2rem;
}
.right {
    text-align: right;
}
p {
    width: 100%;
}
.one .parallaxWindow {
    width: 450px;
    height: 450px;
    background-image: url(../images/Jobs.png);
    background-position: 80%;
}
.two .parallaxWindow {
    background-image: url(../images/bgs/Camera.jpg);
    background-position: auto;
}
.three .parallaxWindow {
    background-image: url(../images/Official.png);
    background-size: 80%;
    background-position: 70%;
}
.four .parallaxWindow {
    background-image: url(../images/bgs/Road.jpg);
    background-size: 35%;
    background-position: 25% 80%;
}

article > h3 {
    text-align: center;
}

@media only screen and (max-width: 800px) {
    h1 {
        margin-top: 60px;
    }
    .para {
        display: block;
        width: 90%;
        text-align: left;
    }
    .parallaxWindow {
        display: none;
    }
    .parallaxWindow.one {
        float: none;
        position: relative;
        display: block;
        border-radius: 0;
        left: -8%;
        margin: 0;
        background-size: cover;
    }
}