article {
    padding-top: 50px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
img {
    margin-top: -100px;
}
hr {
    background: -webkit-linear-gradient(left, transparent, #aaa, transparent);
    background: linear-gradient(to right, transparent, #aaa, transparent);
    height: 1px;
    border: none;
    margin-top: 3em;
    margin-bottom: 3em;
}