@font-face {
    font-family: 'LEMONMILK';
    src: url(../fonts/LEMONMILK-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v13/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
    unicode-range: U+0000-00FF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #333;
    padding: 40px 50px;
    font-size: 20px;
}
a {
    color: inherit;
}
h2, h3, h4 {
    font-family: 'LEMONMILK', 'Lato', sans-serif;
    font-weight: 100;
}
h2 a {
    text-decoration: none;
}
@media (max-width: 580px) {
    body {
        padding: 15px;
    }
}
