@font-face {
    font-family: 'LEMONMILK';
    src: url(../fonts/LEMONMILK-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200 1000;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v26/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
body {
    font-family: 'Nunito', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #333;
    padding: 40px 50px;
    font-size: 20px;
    font-weight: 100;
}
a {
    color: inherit;
}
h2, h3, h4 {
    font-family: 'LEMONMILK', 'Lato', sans-serif;
    font-weight: 100;
}
h2 a {
    text-decoration: none;
}
@media (max-width: 580px) {
    body {
        padding: 25px;
    }
}
