@font-face {
    font-family: 'LECO 1976';
    src: url(../fonts/LECO_1976.otf) format('opentype');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v13/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
    unicode-range: U+0000-00FF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    font-size: 26px;
}
header {
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: solid 1px #333;
    transition: .3s color border-bottom-color;
}
a:hover {
    transition: .1s;
    transition: .3s color border-bottom-color;
}

h2 {
    font-family: 'LECO 1976', 'Lato', sans-serif;
    font-size: 100px;
    font-weight: 100;
}
.social-buttons {
    cursor: default;
    list-style: none;
    margin: 30px 0;
}
.social-buttons li {
    display: inline-block;
    margin: 2px;
}
.social-buttons a {
    cursor: default;
    border: none;
}
.social-buttons svg {
    fill: #333;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid 1px #333;
    padding: 4px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
}
.social-buttons svg:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .5s;
    transition: .5s;
}

.social-buttons li:first-child svg:hover {
    border-color: #ff6f32;
    fill: #ff6f32;
}
.social-buttons li:nth-child(2) svg:hover {
    border-color: #4fec51;
    fill: #4fec51;
}
.social-buttons li:nth-child(3) svg:hover {
    border-color: #55acee;
    fill: #55acee;
}
.social-buttons li:nth-child(4) svg:hover {
    border-color: #9b6954;
    fill: #9b6954;
}
.social-buttons li:nth-child(5) svg:hover {i
    border-color: #FF0084;
    fill: #FF0084;
}
.social-buttons li:nth-child(6) svg:hover {
    border-color: #dd4e41;
    fill: #dd4e41;
}

h2 {
    margin-left: -8px;
    color: #333;
}
main {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    color: #333;
    padding: 50px 50px 0;
}
main p {
    color: #444;
    max-width: 8in;
    line-height: 1.5;
}

main a:nth-child(1) {
    color: #d12727;
    border-bottom-color: #d12727;
}
main a:nth-child(2) {
    color: #2bb7e3;
    border-bottom-color: #2bb7e3;
}
main a:nth-child(3) {
    color: #d12727;
    border-bottom-color: #d12727;
}
main a:nth-child(4) {
    color: #148598;
    border-bottom-color: #148598;
}
main a:nth-child(5) {
    color: lightgreen;
    border-bottom-color: lightgreen;
}
main a:nth-child(6) {
    color: inherit;
    border-bottom-color: inherit;
}
main a:nth-child(7) {
    color: #3D4C87;
    border-bottom-color: #3D4C87;
}

canvas#bg {
    width: 400px;
    height: 160px;
    margin: -80px 0 -20px;
    position: relative;
    z-index: -10;
    display: none;
}

@media (max-width: 680px) {
    * {
        overflow: auto;
    }
    .social-buttons {
        margin: 20px auto 0;
    }
    main {
        padding: 15px;
    }
    h2 {
        font-size: 24vw;
    }
    canvas#bg {

    }
}
@media (max-width: 340px) {
    .social-buttons {
        margin-top: 40px;
        max-width: 145px;
    }
}
