body {
    overflow-x: hidden;
    font-size: 24px;
    transition: 0.2s;
}
body.dark {
    color: white;
    background: #12182b;
}
#portrait {
    max-height: 300px;
    position: absolute;
    bottom: 0;
    right: 50px;
    cursor: pointer;
}
h2 {
    font-size: 45px;
    line-height: 1;
    margin-left: -4px;
    margin-top: 1px;
    vertical-align: top;
    user-select: none;
    display: inline-block;
}
p {
    color: #444;
    max-width: 6in;
    line-height: 1.5;
    margin: 6px 0 10px;
    transition: 0.2s;
}
.dark p {
    color: white;
}
a {
    color: inherit;
    text-decoration: none;
    border-bottom: solid 1px #333;
    transition: 0.2s;
}
.dark a {
    border-bottom-color: #ddd;
}
p a#google:hover, .dark a#google {
    color: #077bc1;
    border-bottom-color: #077bc1;
    animation: google 20s infinite linear;
}
@keyframes google {
    14% {
        color: #077bc1;
        border-bottom-color: #077bc1;
    }
    28% {
        color: #ED5749;
        border-bottom-color: #ED5749;
    }
    42% {
        color: #ffd966;
        border-bottom-color: #ffd966;
    }
    56% {
        color: #077bc1;
        border-bottom-color: #077bc1;
    }
    70% {
        color: #3BCE9C;
        border-bottom-color: #3BCE9C;
    }
    84% {
        color: #ED5749;
        border-bottom-color: #ED5749;
    }
}
p a#yalemenus:hover, .dark a#yalemenus {
    color: #ffd966;
    border-bottom-color: #ffd966;
}
p a#yalies:hover, .dark a#yalies {
    color: #077bc1;
    border-bottom-color: #077bc1;
}
p a#mebots:hover, .dark a#mebots {
    color: #00aff0;
    border-bottom-color: #00aff0;
}
p a#comethru:hover, .dark a#comethru {
    color: #ED5749;
    border-bottom-color: #ED5749;
}
p a#projects:hover, .dark a#projects {
    color: #3BCE9C;
    border-bottom-color: #3BCE9C;
}
p a#resume:hover, .dark a#resume {
    color: #ff6f32;
    border-bottom-color: #ff6f32;
}
.social {
    cursor: default;
    list-style: none;
    margin-top: 20px;
    user-select: none;
}
.social li {
    display: inline-block;
    margin: 2px;
}
.social a {
    cursor: default;
    border: none;
}
.social svg {
    fill: #333;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid 1px #333;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}
.social svg:hover, .dark .social svg {
    transform: rotate(360deg);
    transition: .5s;
}
.social li#mail svg:hover, .dark li#mail svg {
    border-color: #ff6f32;
    fill: #ff6f32;
}
.social li#github svg:hover, .dark li#github svg {
    border-color: #3BCE9C;
    fill: #3BCE9C;
}
.social li#linkedin svg:hover, .dark li#linkedin svg {
    border-color: #0077B5;
    fill: #0077B5;
}
.social li#twitter svg:hover, .dark li#twitter svg {
    border-color: #55acee;
    fill: #55acee;
}
.social li#instagram svg:hover, .dark li#instagram svg {
    border-color: #9b6954;
    fill: #9b6954;
}
.social li#flickr svg:hover, .dark li#flickr svg {
    border-color: #FF0084;
    fill: #FF0084;
}
.social li#night svg:hover, .dark li#night svg {
    border-color: #ffd966;
    fill: #ffd966;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    z-index: -5;
    width: 100vw;
    height: 100vh;
}

@media (max-width: 670px) {
    #portrait {
        position: static;
        max-height: auto;
        max-width: 25vw;
        margin-right: 10px;
    }
    h2 {
        display: inline-block;
        vertical-align: top;
        font-size: 12.2vw;
        max-width: 150px;
    }
    .social svg {
        height: 60px;
        width: 60px;
    }
    canvas {
        display: none;
    }
}
@media (max-width: 580px) {
    #portrait {
        max-width: 28vw;
    }
    h2 {
        font-size: 13.7vw;
    }
}
@media (max-width: 440px) {
    .social {
        max-width: 250px;
    }
}
