@font-face {
    font-family: 'LECO 1976';
    src: url(../fonts/LECO_1976.otf) format('opentype');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v13/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
    unicode-range: U+0000-00FF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    font-size: 26px;
}
main {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    color: #333;
    padding: 40px 50px;
}
h2 {
    font-family: 'LECO 1976', 'Lato', sans-serif;
    font-size: 100px;
    font-weight: 100;
    line-height: 1;
    margin: 0 0 10px -4px;
}
#headshot-container {
    max-width: 400px;
}
#headshot {
    width: 100%;
    padding-top: 75%;
    /* Match name in header */
    background-size: cover;
    background-image: url('../images/casual-small.jpg');
    margin-bottom: 15px;
}
/*
#headshot:hover {
    background-image: url('../images/formal-small.jpg');
}
*/
p {
    color: #444;
    max-width: 8in;
    line-height: 1.5;
    margin: 10px 0;
}
a {
    color: inherit;
    text-decoration: none;
    border-bottom: solid 1px #333;
}
p a#esperanto:hover {
    color: #009900;
    border-bottom-color: #009900;
}
p a#robotics:hover {
    color: #d12727;
    border-bottom-color: #d12727;
}
p a#mit:hover {
    color: #2bb7e3;
    border-bottom-color: #2bb7e3;
}
p a#schoology:hover {
    color: #148598;
    border-bottom-color: #148598;
}
p a#capoeira:hover {
    color: lightgreen;
    border-bottom-color: lightgreen;
}
p a#minimalism:hover {
    color: inherit;
    border-bottom-color: inherit;
}
p a#politics:hover {
    color: #3D4C87;
    border-bottom-color: #3D4C87;
}
.social {
    cursor: default;
    list-style: none;
    margin-top: 20px;
}
.social li {
    display: inline-block;
    margin: 2px;
}
.social a {
    cursor: default;
    border: none;
}
.social svg {
    fill: #333;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid 1px #333;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}
.social svg:hover {
    transform: rotate(360deg);
    transition: transform .5s;
}
.social li#mail svg:hover {
    border-color: #ff6f32;
    fill: #ff6f32;
}
.social li#github svg:hover {
    border-color: #4fec51;
    fill: #4fec51;
}
.social li#linkedin svg:hover {
    border-color: #0077B5;
    fill: #0077B5;
}
.social li#twitter svg:hover {
    border-color: #55acee;
    fill: #55acee;
}
.social li#instagram svg:hover {
    border-color: #9b6954;
    fill: #9b6954;
}
.social li#flickr svg:hover {
    border-color: #FF0084;
    fill: #FF0084;
}

@media (max-width: 680px) {
    main {
        padding: 15px;
    }
    h2 {
        font-size: 24vw;
        margin-left: 0;
    }
}
@media (max-width: 340px) {
    .social {
        max-width: 145px;
    }
}
