@font-face {
    font-family: 'LEMONMILK';
    src: url(../fonts/LEMONMILK-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v13/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
    unicode-range: U+0000-00FF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    font-size: 26px;
    color: #333;
    padding: 40px 50px;
}
h2 {
    font-family: 'LEMONMILK', 'Lato', sans-serif;
    font-size: 80px;
    font-weight: 100;
    line-height: 1;
    margin-left: -4px;
    /* Prevent selection on all browsers */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#portrait {
    display: inline-block;
    max-width: 170px;
    border-radius: 100%;
}
p {
    color: #444;
    max-width: 6in;
    line-height: 1.5;
    margin: 6px 0 10px;
}
a {
    color: inherit;
    text-decoration: none;
    border-bottom: solid 1px #333;
}
p a#esperanto:hover {
    color: #009900;
    border-bottom-color: #009900;
}
p a#powerschool:hover {
    color: #00b6ef;
    border-bottom-color: #00b6ef;
}
p a#vexillology:hover {
    color: #EEC900;
    border-bottom-color: #EEC900;
}
p a#minimalism:hover {
    color: #B22222;
    border-bottom-color: #B22222;
}
p a#open_source:hover {
    color: #43B00D;
    border-bottom-color: #43B00D;
}
p a#resume:hover {
    color: #077bc1;
    border-bottom-color: #077bc1;
}
.social {
    cursor: default;
    list-style: none;
    margin-top: 20px;
}
.social li {
    display: inline-block;
    margin: 2px;
}
.social a {
    cursor: default;
    border: none;
}
.social svg {
    fill: #333;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid 1px #333;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}
.social svg:hover {
    transform: rotate(360deg);
    transition: .5s;
}
.social li#mail svg:hover {
    border-color: #ff6f32;
    fill: #ff6f32;
}
.social li#github svg:hover {
    border-color: #4fec51;
    fill: #4fec51;
}
.social li#linkedin svg:hover {
    border-color: #0077B5;
    fill: #0077B5;
}
.social li#twitter svg:hover {
    border-color: #55acee;
    fill: #55acee;
}
.social li#instagram svg:hover {
    border-color: #9b6954;
    fill: #9b6954;
}
.social li#flickr svg:hover {
    border-color: #FF0084;
    fill: #FF0084;
}

@media (max-width: 680px) {
    body {
        padding: 15px;
    }
    h2 {
        font-size: 22vw;
        margin-left: 0;
    }
    .social svg {
        height: 60px;
        width: 60px;
    }
}
@media (max-width: 450px) {
    .social {
        max-width: 250px;
    }
}

#flag {
    display: none;
    height: 130px;
}

