html, body {
    overflow-x: hidden;
}
header {
    background-attachment: fixed;
    padding: 1em;
    background-position: right;
    overflow: visible;
}
header h1 {
    animation: none;
    font-size: 4em;
}
article {
    padding: 0;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;
}
article h3 {
    margin-top: 10px;
    font-size: 50px;
    line-height: 40px;
}
article img {
    position: relative;
    max-width: 100%;
    margin-left: 0;
    float: right;
}
article p {
    width: 85%;
}
nav {
    height: 100vh;
    width: 100vw;
    background: #eee;
    padding: 0;
    padding-top: 10vh;
}
nav a {
    text-align: center;
    margin: 0;
    width: 100vw;
    height: 12vh;
    box-sizing: border-box;
}
nav a.active:before {
    right: 98%;
}
