body {
    overflow-y: hidden;
}
.bg {
    background-image: url(../images/bgs/Photography.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}
h1, h3 {
    z-index: 100;
}
header:after {
    display: none;
}
header .button {
    border: 1px solid #fff;
    color: #fff;
}
header .button:hover {
    color: #333;
}
header .button:before {
    background: #fff;
}
.extensions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    position: fixed;
    bottom: 20px;
}
.extensions img {
    margin-left: 5px;
}
.chromeLink {
    border-radius: 45%;
    transition: .5s;
}
.chromeLink:hover {
    transform: rotate(360deg);
    transition: .5s;
}
.firefoxLink, .operaLink, .safariLink, .IELink {
    -webkit-filter: brightness(.7);
    filter: brightness(.7);
}
@media only screen and (max-width: 800px) {
    .extensions {
        display: none;
    }
}
