h3 {
    font-size: 50px;
}
h4 {
    font-size: 30px;
    margin-bottom: 15px;
}
h4 a {
    text-decoration: none;
}
p {
    line-height: 1.25;
    margin: 10px 0;
}
.project {
    max-width: 8in;
    padding: 20px 0 30px;
    margin-bottom: 5px;
    border-bottom: dashed 2px #888;
}
.project h4 {
    display: inline-block;
}
.project .year {
    display: inline;
    display: none;
    position: relative;
    vertical-align: top;
    top: 9px;
    background: #333;
    color: white;
    padding: 3px 8px;
    margin-left: 3px;
    border-radius: 50px;
}
.screenshots {
}
.screenshots a {
    text-decoration: none;
}
.screenshots img {
    max-width: 500px;
    max-height: 500px;
}
ul {
    margin-left: 30px;
}
@media (max-width: 680px) {
    .screenshots img {
        max-width: 100%;
    }
}
