h3 {
    font-size: 50px;
}
h4 {
    font-size: 30px;
    margin-bottom: 15px;
}
h4 a {
    text-decoration: none;
}
p {
    line-height: 1.25;
    margin: 10px 0;
}
.project {
    max-width: 8in;
    padding: 20px 0 30px;
    margin-bottom: 5px;
    border-bottom: dashed 2px #888;
}
.screenshots {
}
.screenshots a {
    text-decoration: none;
}
.screenshots img {
    max-width: 500px;
    max-height: 500px;
}
