@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(font/Raleway-200.woff2) format('woff2'), url(font/Raleway-200.ttf) format('truetype');
    unicode-range: U+0000-00FF;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    src: local('Raleway Thin'), local('Raleway-Thin'), url(font/Raleway-100.woff2) format('woff2'), url(font/Raleway-100.ttf) format('truetype');
    unicode-range: U+0000-00FF;
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(OpenSans-400.woff2) format('woff2');
    unicode-range: U+0000-00FF;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    overflow-x: hidden;
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
}
.bg {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -150;
}
p {
    font-size: 1em;
    line-height: 1.75em;
    width: 75%;
}
a {
    color: inherit;
}
a:hover {
    text-decoration: none;
}
h1, h2, h3 {
    font-family: 'Raleway', 'Open Sans', sans-serif;
    font-weight: 100;
    margin-bottom: 40px;
}
header h3 {
    white-space: normal;
    font-family: 'Raleway';
    font-weight: 200;
}
header h1 {
    font-weight: 100 !important;
}
h3 {
    font-size: 50px;
}
.button {
    margin: .5em;
    padding: 10px 20px;
    background: 0;
    font-size: 20px;
    border: 2px solid #333;
    border-radius: 3px;
    color: #333;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
.button:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.button:hover, .button:focus, .button:active {
    color: white;
}
.button:hover:before, .button:focus:before, .button:active:before {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

/* Menu */

.menu-button {
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 1000;
    cursor: pointer;
    width: 50px;
    height: 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.menu-bar {
    width: 100%;
    height: 1px;
    background-color: #fff;
    border-radius: 8px;
}
.menu-bar:after, .menu-bar:before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #fff;
}
.menu-bar:after {
    top: 20px;
}
.menu-bar:before {
    top: 10px;
}
nav {
    height: 100%;
    position: fixed;
    padding-top: 50px;
    left: -1000px;
    z-index: 900;
}
nav ul {
    list-style: none;
    display: inline;
}
nav a {
    margin-top: 5px;
    font-size: 16px;
    text-decoration: none;
    padding: 15px;
    padding: 2vm;
    background: #eee;
    position: relative;
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
}
nav a:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    height: 100%;
    bottom: 0;
    -webkit-transition: right .2s ease-out;
    transition: right .2s ease-out;
}
nav a:hover:before, nav a:focus:before, nav a:active:before {
    right: 0;
}
nav .active:before {
    right: 0;
}
nav li:first-child a:before {
    background: #2098d1
}
nav li:nth-child(2) a:before {
    background: #38A16F
}
nav li:nth-child(3) a:before {
    background: #47e5aa
}
nav li:nth-child(4) a:before {
    background: #D54431
}
nav li:nth-child(5) a:before {
    background: #bcbbb3
}

/* Photo Backgrounds */

header {
    height: 100%;
    color: #fff;
    margin: 0;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 1px 2vm 0 2vm;
    z-index: -100;
}
header h1, header h3 {
    margin: 0;
}
header h1 {
    font-size: 9em;
    letter-spacing: -3px;
}
header h3 {
    font-size: 25px;
    letter-spacing: 1px;
}
header h3 a {
    text-decoration: none;
    border-bottom: solid 1px rgba(255, 255, 255, .5);
    -webkit-transition: .5s all;
    transition: .5s all;
}
header h3 a:hover {
    border-color: #fff;
    -webkit-transition: 1s all;
    transition: 1s all;
}
article {
    background: #fff;
    padding: 2em 5em 1.75em 5em;
    z-index: 0;
}
header:after {
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 10px solid #fff;
    bottom: 10px;
    left: 48%;
    position: absolute;
    -webkit-animation: .5s arrow-pulse infinite alternate-reverse ease-out;
    animation: .5s arrow-pulse infinite alternate-reverse ease-out;
}
@-webkit-keyframes arrow-pulse {
    0% {
        opacity: .1;
        filter: alpha(opacity=10);
    }
    100% {
        opacity: .9;
        filter: alpha(opacity=90);
    }
}
@keyframes arrow-pulse {
    0% {
        opacity: .1;
        filter: alpha(opacity=10);
    }
    100% {
        opacity: .9;
        filter: alpha(opacity=90);
    }
}
