---
---

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url('https://fonts.gstatic.com/s/oswald/v11/_P8jt3Y65hJ9c4AzRE0V1OvvDin1pK8aKteLpeZ5c0A.woff2') format('woff2');
    unicode-range: U+0000-00FF;
}
@font-face {
    font-family: 'AHAMONO';
    font-weight: 300;
    src: local('AHAMONO'), url('font/AHAMONO.otf') format('opentype');
    unicode-range: U+0000-00FF;
}
@font-face {
    font-family: 'Yrsa';
    font-style: normal;
    font-weight: 400;
    src: local('Yrsa'), local('Yrsa-Regular'), url('https://fonts.gstatic.com/s/yrsa/v1/aA53pXGl6OFv4tAyCB63C_esZW2xOQ-xsNqO47m55DA.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Yrsa', serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    color: #333;
    font-size: 24px;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
article {
    padding: 30px 100px 0;
}
p {
    line-height: 1.25;
    font-weight: 300;
}
.post-list {
    padding: 50px;
}
h1,
h2 {
    font-family: 'Yrsa', sans-serif;
    font-weight: 100;
}
h1 {
    font-size: 50px;
}
.post-meta {
    margin-bottom: 20px;
}
h2 {
    font-size: 12vw;
    a {
        text-decoration: none;
    }
}
h3 {
    font-size: 80px;
    text-align: center;
    margin-bottom: 20px;
}
.social {
    cursor: default;
    list-style: none;
    margin: 10px 0 30px;
    li {
        display: inline-block;
    }
    a {
        cursor: default;
        border: none;
    }
    svg {
        fill: grey;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: solid 1px grey;
        padding: 4px;
        cursor: pointer;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        &:hover {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-transition: 0.5s;
            transition: 0.5s;
        }
    }
    li {
        &:first-child svg:hover {
            border-color: #cf2e2e;
            fill: #cf2e2e;
        }
        &:nth-child(2) svg:hover {
            border-color: #4fec51;
            fill: #4fec51;
        }
        &:nth-child(3) svg:hover {
            border-color: #dd4e41;
            fill: #dd4e41;
        }
        &:nth-child(4) svg:hover {
            border-color: #55acee;
            fill: #55acee;
        }
        &:nth-child(5) svg:hover {
            border-color: #9b6954;
            fill: #9b6954;
        }
        &:nth-child(6) svg:hover {
            border-color: #FF0084;
            fill: #FF0084;
        }
    }
}
a {
    text-decoration: underline;
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}
code, .highlight {
    font-size: .9em;
}
/**
 * Syntax highlighting styles
 * Borrowed from Minima theme: https://github.com/jekyll/minima
 */
.highlight {
    background: #eee;
    font-family: 'AHAMONO', monospace;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;

    .highlighter-rouge & {
        background: #eef;
    }
    .c {
        color: #998;
        font-style: italic;
    }
    // Comment
    .err {
        color: #a61717;
        background-color: #e3d2d2;
    }
    // Error
    .k {
        font-weight: bold;
    }
    // Keyword
    .o {
        font-weight: bold;
    }
    // Operator
    .cm {
        color: #998;
        font-style: italic;
    }
    // Comment.Multiline
    .cp {
        color: #999;
        font-weight: bold;
    }
    // Comment.Preproc
    .c1 {
        color: #998;
        font-style: italic;
    }
    // Comment.Single
    .cs {
        color: #999;
        font-weight: bold;
        font-style: italic;
    }
    // Comment.Special
    .gd {
        color: #000;
        background-color: #fdd;
    }
    // Generic.Deleted
    .gd .x {
        color: #000;
        background-color: #faa;
    }
    // Generic.Deleted.Specific
    .ge {
        font-style: italic;
    }
    // Generic.Emph
    .gr {
        color: #a00;
    }
    // Generic.Error
    .gh {
        color: #999;
    }
    // Generic.Heading
    .gi {
        color: #000;
        background-color: #dfd;
    }
    // Generic.Inserted
    .gi .x {
        color: #000;
        background-color: #afa;
    }
    // Generic.Inserted.Specific
    .go {
        color: #888;
    }
    // Generic.Output
    .gp {
        color: #555;
    }
    // Generic.Prompt
    .gs {
        font-weight: bold;
    }
    // Generic.Strong
    .gu {
        color: #aaa;
    }
    // Generic.Subheading
    .gt {
        color: #a00;
    }
    // Generic.Traceback
    .kc {
        font-weight: bold;
    }
    // Keyword.Constant
    .kd {
        font-weight: bold;
    }
    // Keyword.Declaration
    .kp {
        font-weight: bold;
    }
    // Keyword.Pseudo
    .kr {
        font-weight: bold;
    }
    // Keyword.Reserved
    .kt {
        color: #458;
        font-weight: bold;
    }
    // Keyword.Type
    .m {
        color: #099;
    }
    // Literal.Number
    .s {
        color: #d14;
    }
    // Literal.String
    .na {
        color: #008080;
    }
    // Name.Attribute
    .nb {
        color: #0086B3;
    }
    // Name.Builtin
    .nc {
        color: #458;
        font-weight: bold;
    }
    // Name.Class
    .no {
        color: #008080;
    }
    // Name.Constant
    .ni {
        color: #800080;
    }
    // Name.Entity
    .ne {
        color: #900;
        font-weight: bold;
    }
    // Name.Exception
    .nf {
        color: #900;
        font-weight: bold;
    }
    // Name.Function
    .nn {
        color: #555;
    }
    // Name.Namespace
    .nt {
        color: #000080;
    }
    // Name.Tag
    .nv {
        color: #008080;
    }
    // Name.Variable
    .ow {
        font-weight: bold;
    }
    // Operator.Word
    .w {
        color: #bbb;
    }
    // Text.Whitespace
    .mf {
        color: #099;
    }
    // Literal.Number.Float
    .mh {
        color: #099;
    }
    // Literal.Number.Hex
    .mi {
        color: #099;
    }
    // Literal.Number.Integer
    .mo {
        color: #099;
    }
    // Literal.Number.Oct
    .sb {
        color: #d14;
    }
    // Literal.String.Backtick
    .sc {
        color: #d14;
    }
    // Literal.String.Char
    .sd {
        color: #d14;
    }
    // Literal.String.Doc
    .s2 {
        color: #d14;
    }
    // Literal.String.Double
    .se {
        color: #d14;
    }
    // Literal.String.Escape
    .sh {
        color: #d14;
    }
    // Literal.String.Heredoc
    .si {
        color: #d14;
    }
    // Literal.String.Interpol
    .sx {
        color: #d14;
    }
    // Literal.String.Other
    .sr {
        color: #009926;
    }
    // Literal.String.Regex
    .s1 {
        color: #d14;
    }
    // Literal.String.Single
    .ss {
        color: #990073;
    }
    // Literal.String.Symbol
    .bp {
        color: #999;
    }
    // Name.Builtin.Pseudo
    .vc {
        color: #008080;
    }
    // Name.Variable.Class
    .vg {
        color: #008080;
    }
    // Name.Variable.Global
    .vi {
        color: #008080;
    }
    // Name.Variable.Instance
    .il {
        color: #099;
    }
    // Literal.Number.Integer.Long
}
li ul {
    margin-left: 40px;
}
footer {
    padding: 30px 0;
    text-align: center;
    p {
        color: grey;
    }
}