@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(font/Roboto-100.woff2) format('woff2'), url(font/Roboto-100.ttf) format('truetype');
    unicode-range: U+0000-00FF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header,
section,
ul,
.float-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}
header,
section {
    height: 100vh;
    background: white;
    color: #333;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-weight: 100;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
h1 {
    font-weight: 100;
    /* Two font-weight definitions shouldn't be necessary */
    font-size: 5em;
}
h2 {
    font-weight: 100;
    font-size: 4em;
}
a {
    color: inherit;
    text-decoration: none;
}
svg {
    fill: #333;
}
ul {
    position: absolute;
    cursor: default;
    list-style: none;
    top: 10px;
}
ul li {
    display: inline-block;
    margin: 2px;
}
ul a {
    cursor: default;
}
ul svg {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    border: solid 1px grey;
    display: inline-block;
    padding: 4px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
}
ul svg:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .5s;
    transition: .5s;
}
li:first-child svg:hover {
    border-color: #ff6f32;
    fill: #ff6f32;
}
li:nth-child(2) svg:hover {
    border-color: #4fec51;
    fill: #4fec51;
}
li:nth-child(3) svg:hover {
    border-color: #dd4e41;
    fill: #dd4e41;
}
li:nth-child(4) svg:hover {
    border-color: #55acee;
    fill: #55acee;
}
li:nth-child(5) svg:hover {
    border-color: #9b6954;
    fill: #9b6954;
}
li:nth-child(6) svg:hover {
    border-color: #FF0084;
    fill: #FF0084;
}
.float-container {
    position: fixed;
    bottom: 20px;
}
button {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: none;
    border: solid 2px #333;
    outline: 0;
    cursor: pointer;
}
button svg {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}
#bwnt {
    -webkit-transition: .5s;
    transition: .5s;
}
#clock {
    font-size: 10em;
}
.light {
    background: white;
}
.light #clock {
    color: #333;
}
.night {
    background: #222;
}
.night #clock {
    color: white;
}
#gyro {
    width: 175px;
    height: 175px;
    border: solid 2px #333;
    border-radius: 50%;
    margin-bottom: 10px;
}
#gyroCircle,
#gyroArm {
    fill: white;
    stroke: #333;
    stroke-width: 2;
}
#gyroArm {
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
}
p {
    font-family: serif;
    text-align: left;
    font-size: 1.5em;
}