@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(font/Roboto-100.woff2) format('woff2'), url(font/Roboto-100.ttf) format('truetype');
    unicode-range: U+0000-00FF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    background: #148598;
}

#portrait {
    position: fixed;
    width: 50vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #333;
    background-image: url(portrait.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}
article {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background: #148598;
    padding: 50px 50px 0;
}
p {
    color: black;
    font-size: 30px;
    line-height: 1.25;
    font-weight: 300;
}

h1 {
    color: #127687;
    font-weight: 100;
    font-size: 5em;
    margin-left: -5px;
}
a {
    color: inherit;
    text-decoration: none;
    border-bottom: solid 1px transparent;
    transition: .3s;
}
a:hover {
    border-bottom-color: currentColor;
    transition: .5s;
}
a:first-of-type {
    color: #d12727 !important;
}

ul {
    cursor: default;
    list-style: none;
    margin: 10px 0 30px;
}
ul li {
    display: inline-block;
    margin: 2px;
}
ul a {
    cursor: default;
    border: none;
}
ul svg {
    fill: black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid 1px black;
    padding: 4px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    color:
}
ul svg:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .5s;
    transition: .5s;
}
li:first-child svg:hover {
    border-color: #ff6f32;
    fill: #ff6f32;
}
li:nth-child(2) svg:hover {
    border-color: #4fec51;
    fill: #4fec51;
}
li:nth-child(3) svg:hover {
    border-color: #dd4e41;
    fill: #dd4e41;
}
li:nth-child(4) svg:hover {
    border-color: #55acee;
    fill: #55acee;
}
li:nth-child(5) svg:hover {
    border-color: #9b6954;
    fill: #9b6954;
}
li:nth-child(6) svg:hover {
    border-color: #FF0084;
    fill: #FF0084;
}
@media (max-width: 730px) {
    article {
        padding: 25px;
    }
}
@media (max-width: 680px) {
    * {
        overflow: auto;
    }
    #portrait, article {
        position: static;
        width: 100vw;
    }
    #portrait {
        height: 100vw;
    }
    article {
        height: auto;
        overflow: visible;
    }
    ul {
        margin: 20px auto 0;
        text-align: center;
    }
}
@media (max-width: 340px) {
    ul {
        margin-top: 40px;
        max-width: 145px;
    }
}
