h2 {
    margin-left: -8px;
    color: #333;
}
body {
    background: #148598;
}
main {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    min-height: 100vh;
    background: #148598;
    border: solid 6px #333;
    color: #333;
}
p {
    font-size: 30px;
    font-style: italic;
}

main a:nth-child(1):hover {
    color: #d12727;
    border-bottom-color: #d12727;
}
main a:nth-child(2):hover {
    color: #4fd4ec;
    border-bottom-color: #4fd4ec;
}
main a:nth-child(3):hover {
    color: #4fec51;
    border-bottom-color: #4fec51;
}
main a:nth-child(4):hover {
    color: white;
    border-bottom-color: white;
}
main a:nth-child(5):hover {
    color: #f2f63e;
    border-bottom-color: #f2f63e;
}


@media (max-width: 680px) {
    #portrait, main {
        position: static;
        width: 100vw;
    }
    #portrait {
        height: 100vw;
    }
}
