h2 {
    margin-left: -8px;
}
body {
    background: #148598;
}
#portrait {
    position: fixed;
    width: 40vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #333;
    background-image: url(/assets/img/portrait.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
article {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vw;
    height: 100vh;
    background: #148598;
}
p {
    font-size: 30px;
}


a:nth-child(1):hover {
    color: #d12727;
    border-bottom-color: #d12727;
}
a:nth-child(2):hover {
    color: #4fec51;
    border-bottom-color: #4fec51;
}
a:nth-child(3):hover {
    color: white;
    border-bottom-color: white;
}
a:nth-child(4):hover {
    color: #f2f63e;
    border-bottom-color: #f2f63e;
}


@media (max-width: 680px) {
    #portrait, article {
        position: static;
        width: 100vw;
    }
    #portrait {
        height: 100vw;
    }
    article {
        height: auto;
    }
}
