<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include header.html %}

    <main class="post">
        <a href="/blog" class="back-button"><span></span><span></span></a>
        <h1 class="post-title">{{ page.title | escape }}</h1>
        <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="date-published">{{ page.date | date: "%b %-d, %Y" }}</time></p>
        <img src="{{ page.photo }}" alt="{{ page.title }} header image">
        {{ content }}
        <a href="/blog" class="back-button"><span></span><span></span></a>
    </main>

    {% include footer.html %}
</body>

</html>
